@model FirstShopping.Models.ViewModels.Pages.SideBarVM

@{
    ViewBag.Title = "معلومات الشريط الجانبي";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@if (TempData["SM"] != null)
{
    <div class="alert alert-success">
        @TempData["SM"]
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    <br />


    <div class="form-horizontal">
        <h4>معلومات الشريط الجانبي</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.body, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.body, new { @class = "form-control", @id = "body" })
                @Html.ValidationMessageFor(model => model.body, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}



@section scripts{

    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("body");
    </script>

}